@charset "utf-8";

@font-face {
  font-family: "nf2";
  src: url("../fonts/nf2-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nf2";
  src: url("../fonts/nf2-demi.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "nf2";
  src: url("../fonts/nf2-book.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Reset de CSS */

* {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
}

:focus {
  outline: 0;
}

body {
  background: #fff;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: separate;
  border-spacing: 0;
}

caption, th, td {
  font-weight: normal;
  text-align: left;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

blockquote,
q {
  quotes: "" "";
}

a img {
  border: 0;
}

article, aside, details, figcaption,
figure, footer, header, hgroup, menu,
nav, section {
  display: block;
}

a {
  text-decoration: none;
}

/* Estils */

html,
body {
  width: 100%;
  height: 100%;
}

html {
  overflow-y: scroll;
}

body {
  font-family: "nf2";
  font-weight: normal;
  font-style: normal;
  color: #333;
  font-size: 16px;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

#embolcall {
  width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  min-height: 100%;
}

header#cap, .embolcall-cos, footer#peu {
  width: 100%;
}

header#cap {
  padding-top: 25px;
}

.embolcall-cos {
  flex: 1;
}

footer#peu {
  padding-bottom: 15px;
}

div#logo {
  padding-right: 10px;
  float: left;
  border-right: 2px #ff6600 solid;
}

div#embolcall-menu {
  float: left;
  width: 400px;
}

div#logo, div#embolcall-menu, div#sel-lleng {
  padding-top: 2px;
}

div#sel-lleng {
  float: right;
  width: 160px;
}

div#contingut {
  margin: 60px 0 10px 0;
  float: left;
}

.estret {
  width: 700px;
  padding-right: 100px;
}

.ample {
  width: 800px;
}

div.contingut-entrada {
  width: 500px;
}

#lateral {
  float: right;
  margin-top: 60px;
  width: 160px;
}

/* Tancaments */
div#logo:after,
nav#embolcall-menu:after,
div#contingut:after,
div.contingut-entrada:after,
#lateral:after,
.contenidor-imatge:after,
.navegacio-imatge:after,
.endavant:after,
.enrere:after,
.comptador:after,
.embolcall-fletxes:after,
.formulari:after,
div.embolcall-entrada-arxiu:after,
.embolcall-exposicio:after,
.embolcall-imatge-exposicio:after,
.embolcall-text-exposicio:after,
.embolcall-graella:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Menú */

ul#menu {
  position: relative;
  text-transform: lowercase;
}

ul#menu li {
  display: inline;
}

#nav li a {
  text-decoration: none;
}

ul#nav {
  list-style: none;
  display: none;
  position: absolute;
  z-index: 9999;
  top: 0px;
  left: 0px;
}

ul#nav li {
  float: left;
  background-color: #fff;
}

ul#menu li span,
ul#nav li a {
  padding: 0 10px;
  color: #999;
}

ul#nav li a {
  display: block;
}

ul#nav li a:hover {
  color: #333;
}

div#logo,
ul#menu {
  font-size: 16px;
}

div#logo a {
  font-weight: 600;
  font-style: normal;
  color: #333;
}

div#logo a:hover {
  color: #999;
}

ul#llenguatge {
  list-style: none;
  padding-top: 4px;
}

ul#llenguatge li {
  float: left;
  padding: 0 5px;
  text-align: center;
  border-right: 1px #ccc solid;
  line-height: 8px;
}

ul#llenguatge li.primer {
  margin-left: -5px;
}

ul#llenguatge li.ultim {
  border-right: 0px;
}

ul#llenguatge li,
ul#llenguatge li a,
ul#llenguatge li.primer a,
ul#llenguatge li.ultim a {
  color: #999;
}

ul#llenguatge li a {
  display: block;
}

ul#llenguatge li a:hover,
ul#llenguatge li.actiu {
  color: #333;
}

ul#llenguatge.pagina-inici {
  float: right;
}

ul#llenguatge.pagina-inici li.ultim {
  margin-right: -5px;
}

h1.titol-entrada,
#lateral h2 {
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  color: #999;
  letter-spacing: 0.05em;
  margin-bottom: 65px;
  text-transform: lowercase;
}

div.contingut-entrada p,
div.embolcall-entrada-arxiu p {
  padding-bottom: 1em;
  line-height: 1.3;
}

div.embolcall-entrada-arxiu {
  width: 500px;
  margin-bottom: 30px;
}

div.pdf a {
  margin: -90px 0px 0 0;
  float: right;
  background-image: url(../img/iconapdf.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
  width: 32px;
  height: 32px;
}

div.pdf a:hover {
  background-position: 0px -32px;
}

p.titol-article-premsa a {
  font-size: 18px;
  color: #999;
}

p.titol-article-premsa a:hover {
  color: #333;
}

p.publicat,
p.publicat a,
span.publicat,
span.publicat a {
  font-size: 13px;
  letter-spacing: 0.1em;
  color: #333;
}

#lateral h2 {
  margin-bottom: 50px;
}

#lateral table tr td a {
  color: #999;
  font-weight: normal;
  margin-right: 10px;
  display: block;
}

#lateral table tr td a.actiu {
  color: #333;
}

#lateral ul li.cat-item,
#lateral ul li.page_item {
  margin-bottom: 15px;
}

#lateral h2 a,
#lateral ul li.cat-item,
#lateral ul li.cat-item a,
#lateral ul li.page_item,
#lateral ul li.page_item a {
  color: #999;
}

#lateral h2 a:hover,
#lateral ul li.cat-item a:hover,
#lateral ul li.page_item a:hover,
#lateral ul li.current-cat a,
#lateral ul li.current_page_item a {
  color: #333;
}

p.copyright {
  color: #999;
  /* line-height: normal; */
}

/* Banner diapositives */
.diapos {
  position: relative;
  margin-top: 100px;
  align-self: center;
  height: 480px;
}

.diapos div {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  /* height: 480px; */
}

.diapos h2 {
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.05em;
  line-height: 0.8;
  margin-top: 20px;
  color: #999;
  font-size: 30px;
  text-align: right;
}

.diapos h2 span {
  font-size: 15px;
  color: #666;
}

/* Graella galeria */
#embolcall-graella {
  width: 615px;
  float: left;
}

.graella {
  width: 175px;
  float: left;
  margin: 0 30px 26px 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.graella:hover {
  background: white;
  z-index: 1000;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

/* Image.php */
.contenidor-imatge {
  float: left;
  width: 600px;
}

.contenidor-imatge a {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.contenidor-imatge a:hover {
  background: white;
  z-index: 1000;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

.navegacio-imatge {
  width: 60px;
  float: right;
}

.endavant a,
.enrere a {
  display: block;
}

.endavant,
.enrere,
ul.page-numbers li a.prev,
ul.page-numbers li a.next {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAA8CAYAAAC5OOBJAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNXG14zYAAAAVdEVYdENyZWF0aW9uIFRpbWUAMzAvNS8xMvh8KJUAAADxSURBVEiJ7Za9cQIxEEYfDLnpgKMCUwKdcEQbmg6QO7DDL4ISKOVKgBKo4AhOZviRTojIDHrh3b5djaTZFRSCSKok7W6/jxLSGHDAV+h/VJbkgBXwEYu5kyXVvtqkb1UAwxtx5qslxTvZzBozmwFL4JglXyTZAhXw3ZdkkMouqaLbg4WZJeNjSeZPiYWXZ9C27dNy8G4X+T/KhUyuWqnvkDXgzGyfkkNHtQAaSc5PySwZusm49knqXPmPCbCR1ISa/qM37BNwfoqe6X0ZeA7AysyynhVHul3/iQXElv0LVH1iqPIemD5yxoX3oUzJIic5Ad7ERaWdE4m6AAAAAElFTkSuQmCC);
  background-repeat: no-repeat;
}

.endavant,
.enrere {
  width: 13px;
  height: 20px;
}

.endavant {
  float: right;
  background-position: 0 -30px;
}

.enrere {
  float: left;
  background-position: -2px 0;
}

.embolcall-fletxes {
  margin: 5px 0 5px 15px;
}

.comptador {
  float: right;
  color: #999;
}

/* Paginacio */
ul.page-numbers {
  line-height: 1;
  list-style: none;
  padding-top: 4px;
}

ul.page-numbers li {
  float: left;
  padding: 0 3px;
  text-align: center;
}

ul.page-numbers li a {
  color: #999;
}

ul.page-numbers li a {
  display: block;
}

ul.page-numbers li a:hover,
ul#page-numbers li.current {
  color: #333;
}

ul.page-numbers li a.next,
ul.page-numbers li a.prev {
  width: 13px;
}

ul.page-numbers li a.next {
  background-position: 0 -30px;
}

ul.page-numbers li a.prev {
  background-position: -2 0;
}

.info-quadro {
  width: 600px;
  float: left;
  padding-top: 20px;
}

.info-quadro h2 {
  margin: 0 0 5px 0;
  text-transform: uppercase;
}

div.destacat {
  border-top: 2px #999 solid;
  border-bottom: 2px #999 solid;
  position: relative;
  padding: 15px 0;
  margin-left: 30px;
  float: right;
  width: 230px;
}

div.destacat p {
  padding-bottom: 0;
  color: #999;
  font-size: 18px;
}

/* Exposicions */
div.embolcall-exposicio {
  width: 500px;
  margin-bottom: 50px;
}

div.embolcall-exposicio a {
  display: block;
}

div.embolcall-imatge-exposicio {
  width: 100px;
  float: left;
}

div.embolcall-imatge-exposicio img {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

div.embolcall-imatge-exposicio img:hover {
  background: white;
  z-index: 1000;
  filter: alpha(opacity=60);
  opacity: 0.6;
}

div.embolcall-text-exposicio {
  width: 350px;
  float: right;
}

div.embolcall-text-exposicio p {
  color: #444;
}

div.embolcall-text-exposicio p:hover {
  color: #999;
}

a span.titol-exposicio,
p.titol-exposicio a,
p.galeria,
p.galeria a {
  font-size: 18px;
  color: #999;
}

a span.titol-exposicio:hover,
p.galeria a:hover {
  font-size: 18px;
  color: #333;
}

p.adreca-galeria,
p.dates-exposicio {
  color: #999;
  margin-bottom: 20px;
}

p.adreca-galeria.contacte {
  color: #333;
}

/* Currículum */
table.curriculum {
  position: relative;
}

table.curriculum a {
  color: #444;
}

table.curriculum a:hover {
  color: #999;
}

table.curriculum th {
  padding: 40px 0 15px 0;
  font-size: 18px;
  color: #999;
}

table.curriculum td.any {
  min-width: fit-content;
  white-space: nowrap;
  padding-right: 10px;
  text-align: right;
}

div.mosca {
  width: 250px;
  height: 170px;
  background-image: url(../img/mosca.jpeg);
  background-repeat: no-repeat;
}

/* Barra desplaçament */
html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: #666 #fff;
}

html::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: #666;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 3px solid #fff;
}

/* SlimBox */
#lbOverlay {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  cursor: pointer;
}

#lbCenter,
#lbBottomContainer {
  position: absolute;
  z-index: 9999;
  overflow: hidden;
  background-color: #fff;
}

.lbLoading {
  background: #fff url(../img/loading.gif) no-repeat center;
}

#lbImage {
  position: absolute;
  left: 0;
  top: 0;
  border: 10px solid #fff;
  background-repeat: no-repeat;
}

#lbPrevLink,
#lbNextLink {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  outline: none;
}

#lbPrevLink {
  left: 0;
}

#lbPrevLink:hover {
  background: transparent url(../img/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
  right: 0;
}

#lbNextLink:hover {
  background: transparent url(../img/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
  font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
  font-size: 10px;
  color: #666;
  line-height: 1.3;
  text-align: left;
  border: 10px solid #fff;
  border-top-style: none;
}

#lbCloseLink {
  display: block;
  float: right;
  width: 66px;
  height: 22px;
  background: transparent url(../img/closelabel.gif) no-repeat center;
  margin: 5px 0;
  outline: none;
}

#lbCaption,
#lbNumber {
  margin-right: 71px;
}

#lbCaption {
  font-weight: bold;
}