/* Variables CSS per a colors i valors comuns */
:root {
  /* --line-color: #7f7f7f; */
  --transition-timing: cubic-bezier(0, 0.985, 0.17, 0.99);
}

/* Estil del botó hamburguesa */
.boto {
  display: block;
  width: 120px;
  height: 120px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
  transform: translateZ(0);
}

/* Estil de les línies del botó hamburguesa */
.boto span {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  font-size: 0;
  background: var(--nota);
  top: 50%;
  left: 50%;
  margin-top: -2px;
  margin-left: -15px;
}

/* Estil de les línies pseudo elements del botó hamburguesa */
.boto span::before,
.boto span::after {
  content: '';
  width: 100%;
  height: 100%;
  background: var(--nota);
  position: absolute;
  left: 0;
  transition: all 0.3s var(--transition-timing);
  /* Utilització de variables CSS per les transicions */
}

/* Estil de la línia superior del botó */
.boto span::before {
  transform: translateY(-450%);
  /* Posicionament inicial fora de la vista */
}

/* Estil de la línia inferior del botó */
.boto span::after {
  transform: translateY(450%);
  /* Posicionament inicial fora de la vista */
}

/* Estil de les línies quan el botó és sobrepassat */
.boto:hover span::before {
  transform: translateY(0) rotate(90deg);
  /* Girar la línia cap a dalt */
}

.boto:hover span::after {
  transform: translateY(0) rotate(-90deg);
  /* Girar la línia cap a baix */
}

/* Estil de les línies quan el botó hamburguesa està obert */
html.menu .boto span {
  background-color: transparent;
  /* Ocultar línies del botó */
}

html.menu .boto span::before {
  transform: translateY(0) rotate(45deg);
  /* Girar i posicionar la línia superior */
}

html.menu .boto span::after {
  transform: translateY(0) rotate(-45deg);
  /* Girar i posicionar la línia inferior */
}

html.menu .boto:hover span::before,
html.menu .boto:hover span::after {
  transform: translateY(0) rotate(180deg);
  /* Girar línies a posició oberta */
}