@charset "utf-8";

/* Reset CSS */

* {
  min-width: 0;
  font: inherit;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-smooth: always;
  text-rendering: optimizeLegibility;
}

img,
video,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

body {
  min-height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .3s ease;
}