/* Barra desplaçament */

html::-webkit-scrollbar {
  width: 11px;
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--text) var(--fons);
}

html::-webkit-scrollbar-track {
  background: var(--fons);
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--text);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 3px solid var(--fons);
}

/* 
html.menu {
  scrollbar-color: var(--fons) var(--text);
}

html.menu::-webkit-scrollbar-track {
  background: var(--text);
  border-radius: 9px;
  -webkit-border-radius: 9px;
}

html.menu::-webkit-scrollbar-thumb {
  background-color: var(--fons);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  border: 3px solid var(--text);
}
*/

