   :root {
   	--fons: #fff;
   	--text: #222;
   	--gris: #888;
   	--nota: #f60;
   }

   /*
html {
  overflow-y: scroll;
}
*/

   body {
   	background-color: var(--fons);
   	font: normal normal 13px/1.5 'Normal';
   	color: var(--text);

   	display: flex;
   	flex-direction: column;
   	gap: 50px;
   }

   header.capPagina {
   	min-height: 120px;
   	padding: 0 45px;
   	display: flex;
   	align-items: center;
   }

   a svg.monograma {
   	height: 30px;
   	width: auto;
   }

   a svg.monograma path.inicialM {
   	fill: var(--text);
   }

   a svg.monograma path.inicialA {
   	fill: var(--nota);
   }

   a:hover svg.monograma path.inicialM,
   a:hover svg.monograma path.inicialA {
   	fill: var(--gris);
   	transition: all .3s ease;
   }

   /* header, */
   div.contenidor,
   footer.peuPagina {
   	padding: 33px 45px;
   }

   div.contenidor {
   	flex: 1;
   }

   footer.peuPagina {
   	color: var(--gris);
   }
   
   a {
     color: var(--gris);
     transition: all .3s ease;
   }
   
   a:hover {
     color: var(--text);
   }