.fonsPortada {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.fonsPortada img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: contain;
	opacity: 0;
	transition: opacity 1s ease;
}

.fonsPortada {
	display: flex;
	justify-content: center;
	align-items: center;
}

.heroi {
	text-align: center;
	z-index: 5;
	font-size: 10vw;
	letter-spacing: -0.05em;
	text-transform: lowercase;
	color: var(--nota);
}

.heroi span.fina {
	font-family: 'Fina';
}

.heroi span.mitjana {
	font-family: 'Normal';
}