
@font-face {
    font-family: 'Fina';
    src: url("../tipus/Montserrat-Light.woff2") format("woff2"),
         url("../tipus/Montserrat-Light.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Normal';
    src: url("../tipus/Montserrat-Regular.woff2") format("woff2"),
         url("../tipus/Montserrat-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Semi';
    src: url("../tipus/Montserrat-Medium.woff2") format("woff2"),
         url("../tipus/Montserrat-Medium.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
